
.idea/workspace.xml

.idea/MobileQuill.iml

.idea/.name

.idea/encodings.xml

.idea/modules.xml

.idea/misc.xml

.idea/vcs.xml

QuillV2/.idea/workspace.xml

QuillV2/.idea/workspace.xml

QuillV2/platforms/ios/Quill.xcodeproj
