<ion-view view-title="Home">
    <ion-content>
        <div style="margin:1%;">
            <button class="button button-outline button-energized icon ion-ios-camera-outline" style="width:49%;">
                Take Photo
            </button>
            <button class="button button-outline button-balanced icon ion-ios-checkmark-outline" style="width:50%;">
                Save
            </button>
        </div>
        <div style="margin:1%;">
        <label class="item item-input" style="height:35px;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query" value="Search">
        </label>
            </div>
        <div class="list" style="height:5%;">
            <div ng-repeat="note in notes | filter:query;">
                <a class="item item-thumbnail-left"  href="#/tab/notes/{{note.id}}">
                    <img ng-src="{{note.face}}" style="border-radius:4px;">
                    <h2> {{note.name}}</h2>
                    <p> {{note.lastText}}</p>
                    <p style="color:#B0B0B0">{{note.date}}</p>
                    
                </a>
            </div>



        </div>

    </ion-content>
</ion-view>