<ion-view view-title="Home">

    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="saveData()">
        </ion-refresher>
        <div style="margin:1%;">

            <button class="button button-outline button-energized icon ion-ios-camera-outline" style="width:100%;" ng-controller="PhotoCtrl" ng-click="openModal(); photoselector()">
                Upload Photo
            </button>

        </div>
        <div style="margin:1%;">
            <label class="item item-input" style="height:35px;">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="query" value="Search">
            </label>
        </div>
     

        <div class="list" style="height:5%;">
            <div ng-repeat="entry in Newnotes | filter:query;">
                <a class="item item-thumbnail-left" href="#/tab/notes/{{entry.id}}">
                    <img ng-src="{{entry.img}}" style="border-radius:4px;">
                  <div ng-repeat="keyword in entry.keywords| filter:query;"><p> {{keyword}}</p></div>
                    <p> {{entry.text}}</p>
                    <p style="color:#B0B0B0">{{entry.dates}}</p>

                </a>
            </div>

        </div>

        <div class="list" style="height:5%;">
            <div ng-ig="Newnotes.length">
                <a class="item item-thumbnail-left">
                    <img ng-src="img/text3.JPG" style="border-radius:4px;">
                    <h2> Example Photo</h2>
                    <p> Click 'take photo' to analyze text and get started. </p>
                    <p style="color:#B0B0B0">01/22/1984</p>

                </a>
            </div>

        </div>


<div ng-controller="PhotoCtrl">
        <script id="my-modal2.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Take Photos</h1>
                    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
                </ion-header-bar>
                <ion-content class="padding">
                    <button ng-click="photoselector()" class="button button-block button-outline button-calm" style="width:98%; margin:1%;">Take More Photos</button>
                    
               
                   
                            <button ng-click="choosePhoto()" class="button button-block button-outline button-calm" style="width:98%; margin:1%;">Analyze Photos</button>

                         <ion-gallery ion-gallery-items="items"></ion-gallery>
                </ion-content>
            </ion-modal-view>
        </script>
</div>
    </ion-content>
</ion-view>
